/* You can add global styles to this file, and also import other style files */

$paleGreen: #ece3ce;
$lightGreen: #739072;
$midGreen: #4f6f52;
$darkGreen: #3a4d39;

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
