/* You can add global styles to this file, and also import other style files */

$paleGreen:#ECE3CE;
$lightGreen:#739072;
$midGreen:#4F6F52;
$darkGreen:#3A4D39;

*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}